/*===
General
===*/

body {
  font-family:helvetica, arial, sans-serif;
  line-height:1.6em;
}


/* Line, divider, alignments */

.centered {
  text-align:center;
}

.left {
  float:left;
}

.right {
  float:right;
}

img.left {
  float:left;
  margin:0 15px 15px 0;
}

img.right {
  float:right;
  margin:0 0 10px 15px;
}


/* hover, effects, misc */

.bwWrapper {
  position:relative;
  display:block;
}

span.overlay {
  background:#333 url(/Public/themes/v3/images/icon_zoom.png) center center no-repeat;
  text-indent:-9999px;
  position:absolute;
  width:0;
  height:20px;
  padding:10px;
  left:45%;
  top:40%;
  display:none;
}

span.overlay a {
  display:block;
}

span.overlay:hover {
  -moz-box-shadow: 0 0 2px 2px #aaa;
  -webkit-box-shadow: 0 0 2px 2px #aaa;
  box-shadow: 0 0 2px 2px #aaa;
}

/*==================================*/


/* Header */
header {
  border-bottom:1px solid #e9e9e9;
  height:92px;
  background:#3a3a3a;
  opacity:0.95;
  width:100%;
  margin-top:0;
  padding:6px;
}

.call_contact p {
  float:right;
  color:#ddd;
  margin-top:6px;
  margin-bottom:0;
  background:url(/img/phone.png) no-repeat 0% 4px;
  padding-left:23px;
  border-bottom:1px dotted #929292;
  font-size:14px;
  letter-spacing:0px;
}

nav ul {
  float:right;
  list-style:none;
  text-align:left;
  z-index:900;
  margin: 8px 0 0 0;
  font-size:16px;
  font-weight:bold;
}

nav ul li {
  float:left;
  margin:0 0 0 10px;
  display: inline-block;
  z-index:100;
}

nav ul li a{
  color:#e9e9e9;
  display: inline-block;
}

nav ul li:hover,nav ul li.selected {
  background:#fbfbfb;
} 

nav li:first-child {
  margin-left: 0;
}

/* */


/* Footer */

footer {
  margin:20px 0 0 0;
  padding-top:30px;
  background:#404040;
  border-top:3px double #333333;
  color:#a3a3a3;
}

.footnote {
  margin-top:30px;
  background:#3a3a3a;
  padding:30px 0 15px 0
}


footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color:#fff;
}

footer img.logo {
  margin-bottom:10px;
}

footer a:link,footer a:active ,footer a 	 {
  color:#dfdfdf;
}

footer a:hover {
  text-decoration:none;
}

footer .credits p {
  text-align:right;
}

/*===
Homepage
===*/
.featured {
  font-family:sans-serif;
}

.featured h1{
  color:white;
  font-size:40px;
  line-height:1.6em;
  font-weight:bold;
}

.featured h2{
  color:#ff5408;
  font-size:28px;
  font-weight:bold;
  text-shadow:1px 1px 4px #333;
  line-height:1.6em;
}

.featured h3{
  color:#f4f4f4;
  font-size:18px;
  font-weight:normal;
  text-shadow:1px 1px 4px #333;
  line-height:1.6em;
}

.slide_container {
  margin: 0 auto;
  max-width: 100%;
  height:auto;
}


/* 4 box features */

.features .dotted_line {
  margin-bottom:10px;
  margin-top:5px;
}

.wrapped {
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  padding:20px;
}

.services .wrapped {
  border-bottom:none;
}

.wrapped.norightborder {
  border-right:none;
}

.wrapped:hover {
  background:#fbfbfb;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* callout area */

.callout {
  margin-bottom:30px;
  border:1px solid #ddd;
  overflow:hidden;
  padding:20px;
}

.callout img {
  margin-top:10px;
}

.callout .text {

}

.callout .text h3 {
  margin-top:10px;
  margin-bottom:10px;
}

.callout .text p {
  margin-bottom:0;
  line-height:1em;
  padding:0;
}

.callout .cta-area {
  height:auto;
}

a.cssbtn {
  display:inline-block;
  font-size:1.1em;
  font-weight:bold;
  padding:12px;
}

.orange {
  background:#FF5F09;border-color:#FF5F09;
  color:white;
}

.toggleButton{
  display:block;
  height:auto;
  padding:10px;
  font-family:arial, sans-serif;
  font-weight:bold;
  text-align:center;
  color:#FFF;
  text-decoration:none;
  cursor:pointer;
  border:1px solid #05ABE0;
  text-shadow:-1px -1px 0px #05ABE0;
  background: #87E0FD;
  background: -moz-linear-gradient(top, #87E0FD 0%, #53CBF1 40%, #05ABE0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87E0FD), color-stop(40%,#53CBF1), color-stop(100%,#05ABE0));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87E0FD', endColorstr='#05ABE0',GradientType=0 );

}
.toggleButton:active{		
  background: #87e0fd;
  background: -moz-linear-gradient(top, #05ABE0 0%, #53CBF1 40%, #87E0FD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05ABE0), color-stop(40%,#53CBF1), color-stop(100%,#87E0FD));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ABE0', endColorstr='#87E0FD',GradientType=0 );
}

span.toggleSection{
  display:none;
  color:#333;
  border-left:1px solid #DDD; border-right:1px solid #DDD; border-bottom:1px solid #DDD;
  width:auto;
  float:right; 
  padding: 8px 12px;
  margin:0;
  font-size:12px;
  text-decoration:none;
}



/*======
Pages, Blog
===*/

/* about */
p span.role {
  font-family:'Droid Serif', 'Georgia', serif;
  font-style:italic;
}

.boxed p.phone {
  margin-bottom:0;
  padding:0;
}

ul.post-list {
  display:block;
  list-style:none;
  margin:10px 0 0 0;
}

/* post list */
ul.post-list  li {
  background-attachment: scroll;
  background-image: url(/Public/themes/v3/images/list/post-list.png);
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left:23px;
  margin-top:5px;
}

/* article */

.article-post .bwWrapper {
  padding:0;
  margin:0;
  border-bottom:none;
}

article.article-post {
  margin-bottom:30px;
  border-bottom:1px solid #ddd;
  padding-bottom:20px;
}

article .post-meta {
  margin:0 0 20px 0;
  border-bottom:1px dotted #e9e9e9;
  padding-bottom:10px;
}

article .post-meta p.meta {
  color:#999;
  text-align:left;
}


article .post-meta p.meta span.author {
  font-weight:bold;
}

article .post-meta p.comment{
  color:#999;
}

article .img-wrapper {
width:100%;
}

article  img {
  margin-bottom:10px;
}

article .blog-meta {
  margin-bottom:30px;
}

.date-box {
  width:80px;
   background-color:#f8f8f8; 
   float:left; 
   margin:0;
}

.date-box .month-year { 
   font-weight:bold; 
   text-align:center; 
   padding:5px; 
   display: block; 
   color:#fff;
 }
 
.comment-box .comment { 
   font-weight:bold; 
   text-align:center; 
   padding:5px; 
   display: block; 
   color:#fff;
 }
 
.date-box .day {
  font-weight:bold; 
  font-size:26px; 
  text-align:center; 
  padding:10px 5px 10px; 
  display: block;
}

.comment-box .number a {
  font-weight:bold; 
  font-size:26px; 
  text-align:center; 
  padding:10px 5px 10px; 
  display: block;
  color:#fff;
}

.comment-box{
  width:80px;
   background-color:#333; 
   float:left; 
   margin:0;
}

ul.post-cat {
  margin:0;
  margin-left:15px;
  list-style: square outside;
}

ul.post-cat li {
  float:left;
  margin-right:20px;
}

ul.post-cat li a {
  font-style:italic;
}

/* comment & comment form */

.comments {
  margin-top:30px;
  margin-bottom:30px;
}


ol.commentlist {
  margin:0;
  width:100%;
  list-style:none;
  float:left;
}

ol.commentlist li.comment {
  border-bottom:1px dotted #e9e9e9;
  padding-bottom:20px;
  background:#fff;
  margin-bottom:30px;
}

ol.commentlist li.comment a.reply {
  float:right;
  text-align:right;
}

ul.child {
  border-top:1px dotted #e9e9e9;
  padding-top:30px;
  margin:20px 0 0 40px;
}

ul.child li.comment {
  border:none;
  margin-bottom:0;
  padding-bottom:0;
}

.comment-text p {
  font-size:12px;
}

.comment-text .comment-author p span.name a {
  color:#333;
}

.comment-text .comment-author p span.date {
  color:#999;
}

.post-author h6, .comment-author h6 {
  font-size:13px;
}

a.reply {
  font-weight:bold;
  color:#333;
  font-size:12px;
}


/* comment form */

#commentForm form#comment label {
  font-weight:bold;
}


form#comment .formfield textarea {
  width: 95%;
  height: 170px;
  margin: 5px 0 15px 0;
}

.formfield input {
  width: 240px;
  margin-bottom: 15px;
}



.formfield label span {color:#ea1c1c;}

form#comment .formfield input[type="submit"] {
  width:auto;
  cursor:pointer;
  font-size:12px;
  font-family:Arial,sans-serif;
}

.formfield .validation-error, 
.formfield .validation-error:focus {
  border:1px solid #f2c4c2;
  background: #ffeceb;
}


/* navigation */
.navigation{
  clear:both; 
  padding:0;
}
a.blog_next{
  float:right; 
  display:block;
  margin:0px;
}
a.blog_prev{
  float:left; 
  display:block;
  margin:0px;
}



/* Sidebar */

.sidebar {
  overflow:hidden;
}

.sidebar_left {
  border-right:1px dotted #ddd;
  padding-right:39px;
}

.sidebar_right {
  border-left:1px dotted #ddd;
  padding-left:39px;
}

.sidebar ul.cat li {
  border-bottom:dashed 1px #f2f2f2;
  padding-bottom:10px;
}

ul.cat li {
  background-attachment: scroll;
  background-image: url(/Public/themes/v3/images/list/checklist.png);
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left:26px;
  margin-top:5px;
}

.sidebar ul.cat li span {
  margin-left:10px;
  color:#999;
  font-weight:bold;
}

/* widget */

.sidebar_widget {
  margin-bottom:30px;
}

.sidebar_widget h5 {

}


/* ads */
.ads {	
  list-style: none;
	
}

.ads li {
  float: left;
  margin-right:20px;
  margin-bottom:20px;
  width: 125px;
  height: 125px;
}


/* breadcrumbs */
ul.breadcrumb {
  float:left;
  margin-top:10px;
  list-style:none;

}

ul.breadcrumb li {
  float:left;
  margin-right:10px;
}

ul.breadcrumb li.home {
  background:url(/Public/themes/v3/images/icons/home.png) no-repeat left center;
  width:18px;
  height:16px;
  text-indent:-9999px;

}

ul.breadcrumb li.home a {
  display:block;
}

ul.breadcrumb li span {
  border-left:1px dotted #ddd;
  padding-left:10px;
}


/* portfolio */

ul#portfolio-filter{ 
  margin:-20px 0 -20px; 
  padding: 0; 
  height: 64px; 
  line-height: 64px; 
}
ul#portfolio-filter li{ 
display: inline;
 }
ul#portfolio-filter a{ 
  margin-right: 0.5em; 
  padding: 0.5em 1em; 
  background: #FFF; 
  color: #333; 
  font-weight: bold; 
  text-decoration: none; 
}
ul#portfolio-filter a.current{ color: #888; }
ul#portfolio-filter a.current{ background-color: #f2f2f2; }

ul#portfolio-list li { margin-top:10px; }


/*===
Elements
===*/

/* featured works -home */

.selected_works {
  width:100%;
}

.selected_works ul li {position:relative;max-width:100%;}

.selected_works ul li .bwWrapper {width:auto;padding:0;margin:0;border-bottom:none;}

.selected_works ul li p.centered {
  margin-top:10px;
}

/* more links */
a.striplink {
  color:#999;
  text-transform:uppercase;
  font-size:10px;
  letter-spacing:2px;
  background:url(/Public/themes/v3/images/link-strip.png) no-repeat left;
  padding-left:25px;
  height:1px;
}

a.striplink span {
  background:url(/Public/themes/v3/images/link-strip.png) no-repeat right;
  padding-right:25px;
  height:1px;
}

a.striplink:hover {
  color:#333;
  text-decoration:none;
}


/* social networks */
ul.social_network {
  list-style-type:none;
  padding:0 !important;
  margin:0 auto;
}

.social_network li{
  float:left;
}


/* Boxes */
.boxed {
  background:#fbfbfb;
  padding:20px;
  border:1px solid #ddd;
  overflow:hidden;
  border-bottom:3px double #ddd;
  margin-bottom:10px;
}


/*----------------- Forms ------------------ */
/* search form */

#searchForm {
float:right;
  margin:0px;
  width:220px;
}

#searchForm fieldset {
  position:relative;
  display:block;	
}

div.input {
  width:100%;	
}

form#searchForm input#s {
  width:198px;
  border:0;
      padding:9px;
  background:transparent;
      font-size:12px;
      color:#777;
      line-height:1.5em;
      border:1px solid #ddd;
      background:#fff;	
}

form#searchForm input:focus#s {
  color:#5b5b5d;
}

form#searchForm input[type="text"]:focus {
-webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.125);
    }


input#searchSubmit {
  border:0;
  position:absolute;
  top:2px; right:0px;
  z-index:5;
  cursor:pointer;
      display:none;
}

/* contact form */
#sendmessage {
  display:none;
}

#sendmessage p {
  font-weight:bold;
}

form#contact label {
  font-weight:bold;
}


form#contact .formfield textarea {
  width: 95%;
  height: 170px;
  margin: 5px 0 15px 0;
}

form#contact .formfield input {
  width: 240px;
  margin-bottom: 15px;
}

form#contact .formfield label span {color:#ea1c1c;}

form#contact .formfield input[type="submit"] {
  width:auto;
  cursor:pointer;
  font-size:12px;
  font-family:Arial,sans-serif;
}

form#contact .formfield .validation-error, 
form#contact .formfield .validation-error:focus {
  border:1px solid #f2c4c2;
  background: #ffeceb;
}


/*------------------- table --------------------*/
table {
  width:100%;
  border:1px solid #e9e9e9;
  margin-bottom:10px;
}
table th {
  border:1px solid #e9e9e9;
  background:#f5f5f5;
  padding:10px 15px;
}
.price {
  font-size: 11px;
}
sup {
  font-size: 8px;
}
table td {
  border:1px solid #e9e9e9;
  background:#fff;
  padding:10px 15px;
  text-align:center;
}
table tfoot {
  text-align:center;
}
table td .btn {
  margin:0;
}


/* social links icon */
.social_small {
  margin: 0;
}

.social_small li {
  display: inline;
  list-style: none;
  text-indent: -9999px;
  margin-left: 5px;
  float: left;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
		
.social_small li.first {
  margin-left:0;
}

.social_small li a {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  height: 16px;
  width: 16px;
}

.social_small li:hover {background-position: 0 -16px;}

/* Social Widget Icons */
#social a {
  width: 16px;
  height: 16px;
  margin: 0 6px 6px 0;
  display: block;
  float: left;
  text-indent: -9999px;
  background-position: 0 -16px;
}

#social a img{
  border: none;
}

/* Icons */
.facebook {background: url(/Public/themes/v3/images/icons/social/fb.png) no-repeat;}
.googleplus {background: url(/Public/themes/v3/images/icons/social/google.png) no-repeat;}
.dribble {background: url(/Public/themes/v3/images/icons/social/dribble.png) no-repeat;}
.skype {background: url(/Public/themes/v3/images/icons/social/skype.png) no-repeat;}
.twitter {background: url(/Public/themes/v3/images/icons/social/twitter.png) no-repeat;}
.vimeo {background: url(/Public/themes/v3/images/icons/social/vimeo.png) no-repeat;}


/* --- pullquote --- */

.pullquote_right,.pullquote_left{
  letter-spacing:0px;
  margin-bottom:0;
  margin-left:20px;
  padding-left:15px;
  width:40%;
  font-weight:normal;
font-style:italic; 
  color:#888;
line-height:20px;
border-left:2px solid #e9e9e9;
}
.pullquote_left{
  border-right:2px solid #e9e9e9;
  border-left:none;
      float:left;
      margin-left:0px;
      margin-right:15px;
      padding-left:0;
      padding-right:15px ;
}

.pullquote_right{
  border-left:2px solid #e9e9e9;
  border-right:none;
      float:right;
      margin-right:0px;
      margin-left:10px;
      padding-right:0;
      padding-left:15px ;
}

/*------------------- dropcap --------------------*/
.dropcap {
  display:block;
  float:left;
  font-size:26px;
  line-height:28px;
  margin:3px 15px 15px 0;
  color:#666666;
}
.dropcap-square {
  display:block;
  float:left;
  font-size:22px;
  line-height:40px;
  width:40px;
  height:40px;
  text-align: center;
  margin:3px 15px 15px 0;
  background:#8d8d8d;
  color:#fff;	
}

.dropcap-circle {
  float:left;
display: block;
  margin:3px 15px 15px 0;
  font-size:22px;
  line-height:40px;
text-shadow: none;
width:40px;
text-align:center;
border-radius: 40px;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
  background:#8d8d8d;
  color:#fff;	
}

/* blockquote */
blockquote.boxed {
  background:#fbfbfb url(/Public/themes/v3/images/icons/quote.png) no-repeat 20px 24px;
  padding:20px;
  padding-left:47px;
}


/* ---------- margin & padding --------------- */

.margintop0 {
  margin-top:0;
}
.margintop5 {
  margin-top:5px;
}
.margintop10 {
  margin-top:10px;
}
.margintop15 {
  margin-top:15px;
}
.margintop20 {
  margin-top:20px;
}
.margintop25 {
  margin-top:25px;
}
.margintop30 {
  margin-top:30px;
}

/* margin bottom */
.marginbottom0 {
  margin-bottom:0;
}
.marginbottom5 {
  margin-bottom:5px;
}
.marginbottom10 {
  margin-bottom:10px;
}
.marginbottom15 {
  margin-bottom:15px;
}
.marginbottom20 {
  margin-bottom:20px;
}
.marginbottom25 {
  margin-bottom:25px;
}
.marginbottom30 {
  margin-bottom:30px;
}

/* margin right */

.marginright0 {
  margin-right:0;
}
.marginright5 {
  margin-right:5px;
}
.marginright10 {
  margin-right:10px;
}
.marginright15 {
  margin-right:15px;
}



/* scroll to top */
.scrollup{
  width:40px;
  height:40px;
  opacity:0.3;
  position:fixed;
  bottom:20px;
  right:20px;
  display:none;
  text-indent:-9999px;
  background: url(/Public/themes/v3/images/icons/totop.png) no-repeat;
}

.scrollup:hover {
  opacity:1;
}

/* misc */
.mobile-only {
  display:none;
}

.example_grid .grid_1 ,
.example_grid .grid_2 ,
.example_grid .grid_3 ,
.example_grid .grid_4 ,
.example_grid .grid_5 ,
.example_grid .grid_6 ,
.example_grid .grid_7 ,
.example_grid .grid_8 ,
.example_grid .grid_9 ,
.example_grid .grid_10 ,
.example_grid .grid_11,
.example_grid .grid_12
{
  background:#f5f5f5;
  display:block;
  padding:20px 0 20px;
  margin-bottom:20px;
  text-align:center;
}

.demopage .boxed h4 {
  margin-bottom:0;
}

/*  Price plans */
div.plan
{
  border:solid 2px #FF5408;
  padding:8px 0px;
}
div.plan h3
{
  font-size: 22px;
  text-align: center;
}
div.plan p
{
  text-align: center;
  margin-top:8px;
}
div.plan .price .curr
{
  vertical-align:super;
  font-size:18px;
  font-weight:normal;
}
div.plan p.price
{
  font-size:40px;
  font-weight: bold;
}
div.plan ul
{
  margin-top: 8px;
}
div.plan li
{
  text-align: center;
  margin-top: 12px;
}
div.plan div.signup
{
  width:162px;
  margin: 20px auto;
}
