{{ partial "header.html" . }}

    <header>
        <div class="row">
            <div class="col span_6 logo">
                <a href="/"> <img class="hires" alt="" src="/img/logo.png"/> </a>
            </div>
            <div class="col span_6 call_contact">
                <p>Call us on +44 345 387 0011</p>
            </div>
        </div>
        <div class="row">
            <nav class="col span_12">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>
        
    <section class="row featured">
        <div class="col span_12" style="width:1160px;height:406px;padding:18px 12px;background-image:url('/img/reconsilo-banner.jpg')">
            <h1>Reconciliation Software</h1>
            <h2>Outgrown Excel?</h2>
            <h3>
                Switch to Reconcilable -<br>everything you need to<br>regain efficiency and control.
            </h3>
            <div style="display:box;position:absolute;bottom:26px;left:14px;">
                <a class="cssbtn orange" href="/pricing">
                    <p>See plans &amp; pricing.</p>
                    <p><small>The first 14 days are free!</small></p>
                </a>
            </div>
        </div>
    </section>
	
	<div class="row services">
		<div class="col span_12">
			<div class="col span_4 nomargin">
				<div class="wrapped">
					<img src="/img/icon-lightning.png" alt="" class="left">
					<h4>Huge time savings</h4>
					<p>Spectacular efficiency through automation and our highly-tuned interface.</p>			
				</div>
			</div>
			<div class="col span_4 nomargin">	
				<div class="wrapped">
					<img src="/img/icon-tick.png" alt="" class="left">
                    <h4>Vital controls for compliance</h4>
					<p>Robust, auditable control over your data and processes.</p>
				</div>
			</div>
			<div class="col span_4 nomargin">	
				<div class="wrapped">
					<img src="/img/icon32-3.png" alt="" class="left">
					<h4>Immediate deployment</h4>
					<p>Start and configure a new reconciliation file in seconds.</p>			
				</div>
			</div>
		</div>
	</div>	

<div class="row">
    <div class="grid_12">
        <h2>How Reconcilable works</h2>
    </div>
</div>
<div class="row">
    <div class="col span_4">
        <!-- video 1 -->
    </div>
    <div class="col span_5">
        <h3>Capture and control data</h3>
        <p>
            Reconcilable accepts your data as it is, reducing the need for up-stream processing or <em>ETL</em> tools.
            Derive new values and perform lookups as necessary to supplement your feed data.</p>
        <p>Imported data can't be modified, so you can be sure your reconciliation stays in line with the source systems
            being controlled.
        </p>
    </div>
</div>
<div class="row">
    <div class="col span_4">
        <!-- video 2 -->
    </div>
    <div class="col span_5">
        <h3>Match in bulk, no sweat</h3>
        <p>Fast, accurate auto-matching handles your data effortlessly. Processing is entirely under your control: matching rules
            are flexible, but are built with the ease of drag-and-drop.</p>
    </div>
</div>
<div class="row">
    <div class="col span_4">
        <!-- video 3 -->
    </div>
    <div class="col span_5">
        <h3>Edit to perfection</h3>
        <p>The slick interface helps you work efficiently to inspect, review and edit your data.</p>
        <p>Precise, individual matching and un-matching for when your data is incomplete or problematic.</p>
    </div>
</div>
<div class="row">
    <div class="col span_4">
        <!-- video 4 -->
    </div>
    <div class="col span_5">
        <h3>Report and export</h3>
        <p>Tailor reports to meet your needs, then save them for re-use. View on screen or use one-click export to Excel.
            Build report books to deliver a complete report pack in a single action.</p>
    </div>
</div>

<div class="row">
        <a class="cssbtn orange square" href="http://reconcilable.com/pricing" style="margin-right:20px;">
            <span class="large">See plans and pricing!</span>
            Fast-start, great value
        </a>
</div>

<div class="row">
    <h2>What you can reconcile with Reconcilable</h2>
</div>
<div class="row">
    <div class="col span_4">
        <ul>
            <li><a>Bank reconciliation</a></li>
            <li><a>Credit card reconciliation</a></li>
            <li><a>Debit card reconciliation</a></li>
            <li><a>Cash reconciliation</a></li>
        </ul>
    </div>
    <div class="col span_5">
        <ul>
            <li><a>Statement reconciliation</a></li>
            <li><a>Position reconciliation</a></li>
            <li><a>Ledger reconciliation</a></li>
            <li><a>Debtor reconciliation</a></li>
            <li><a>Creditor reconciliation</a></li>
        </ul>
    </div>
    <div class="col span_4">
        <ul>
            <li><a>Stock reconciliation</a></li>
            <li><a>Securities reconciliation</a></li>
            <li><a>Data reconciliation</a></li>
        </ul>
    </div>
</div>


<div class="row">
    <h2>Why use Reconcilable?</h2>
</div>

<div class="row">
    <div class="col span_8">
        <h3>Meet compliance imperatives</h3>
        <p>
            Improves Sarbanes-Oxley compliance through audit trails, process tracking and reporting.
            Processing reconciliations in Reconcilable automatically creates a reliable, tamper-proof
            record of your reconciliation activity and status. You automatically gain manageability
            and proof of adherence to procedures, giving confidence both to you and your
            auditor.
        </p>
    </div>
</div>
<div class="row">
    <div class="col span_8">
        <h3>Increase productivity and efficiency</h3>
        <p>
            Manual processing in Excel or Access, or grappling with an inflexible enterprise system,
            wastes valuable time that could really be used more productively elsewhere. Reconcilable's
            interface is precisely focused on reconciliation activities so you have the fastest
            and easiest tool available, enabling core reconciliation tasks to be completed in minimal time.
        </p>
    </div>
</div>
<div class="row">
    <div class="col span_8">
        <h3>Reduce errors, reduce risk</h3>
        <p>
            Automated matching is not only fast, but also accurate, leading directly to fewer errors
            and improved identification of breaks. The Edit workspace in Reconcilable uses specific
            design ingredients that make even manual matching work productive and accurate.
    </p></div>
</div>
<div class="row">
    <div class="col span_8">
        <h3>Immediate deployment</h3>
        <p>
            Reconcilable is independent of any other system and does not require any server-based
            components. It installs directly to your PC and can be used immediately with little or no
            training or configuration required.
        </p>
            
    </div>
</div>

<div class="row">
    <a class="cssbtn orange square" href="http://reconcilable.com/pricing">Choose a plan. Get the first 14 days free!</a>
</div>

        </div>
    </div>
{{ partial "footer.html" . }}
